body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  text-shadow: -4px 4px red, -8px 8px blue;
}

#protestant-reform-h {
  position: relative;
  text-align: right;
  text-decoration: underline;
  margin-right: 110px;
  top: 200px;
  color: lightblue;
}

#protestant-reform-p {
  position: relative;
  left: 760px;
  top: -300px;
  color: white;
}

.mayflower-img {
  border-radius: 20px;
  padding: 4px;
  background: linear-gradient(45deg, red, white, blue) border-box;
  background-clip: padding-box;

  position: relative;
  width: 45%;
  height: auto;
}

#mayflower-caption {
  color: white;
  font-style: italic;
  padding: 5px;
  margin-top: 10px;
}

#iroquois-h {
  position: relative;
  text-align: center;
  font-style: oblique;
  bottom: 120px;
  color: lightgreen;
}

#iroquois-img {
  border-radius: 10px;
  padding: 4px;
  background: linear-gradient(45deg, green, gold);
  background-clip: padding-box;

  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  bottom: 100px;
}

#iroquois-caption {
  position: relative;
  text-align: center;
  bottom: 90px;
  font-style: italic;
  color: yellow;
}

#iroquois-p {
  position: relative;
  margin-left: 300px;
  margin-right: 300px;
  bottom: 60px;
  color: white;
}

#england-monarchy-h {
  position: relative;
  text-align: center;
  margin-top: 150px;
  text-decoration: underline;
  bottom: 100px;
  color: lightsteelblue;
}

#england-monarchy-p {
  position: relative;
  margin-right: 150px;
  margin-left: 150px;
  bottom: 90px;
  color: white;
}

ul {
  position: relative;
  display: table;
  margin: 0 auto;
  bottom: 60px;
  color: lightcyan;
}

li::marker {
  color: lightskyblue;
}

#enlightenmentH {
  position: relative;
  text-align: center;
  text-decoration: underline;
  color: lightseagreen;
}

#enlightenment-p {
  position: relative;
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 50px;
  color: white;
}

#john-adams-img {
  position: relative;
  float: right;
  border-radius: 200px;
  width: 30%;
  height: auto;
}

#john-adams-caption {
  position: relative;
  text-align: right;
  left: 350px;
  top: 520px;
  font-style: oblique;
  color: lightskyblue;
}

#john-adams-p {
  position: relative;
  margin-top: 200px;
  margin-left: 50px;
  color: lightgray;
}

#john-locke-img {
  position: relative;
  float: left;
  margin-top: 200px;
  border-radius: 200px;
  width: 30%;
  height: auto;
}

#john-locke-caption {
  position: relative;
  top: 730px;
  right: 340px;
  font-style: oblique;
  color: lightgoldenrodyellow;
}

#john-locke-p {
  position: relative;
  margin-top: 400px;
  margin-left: 500px;
  margin-right: 100px;
  color: lightgray;
}

#montesquieu-img {
  position: relative;
  float: right;
  margin-top: 50px;
  border-radius: 200px;
  width: 30%;
  height: auto;
}

#montesquieu-caption {
  position: relative;
  text-align: right;
  left: 360px;
  top: 620px;
  font-style: oblique;
  color: lightcoral;
}

#montesquieu-p {
  position: relative;
  margin-top: 300px;
  margin-left: 50px;
  color: lightgray;
}

.mainPageButton {
  margin-top: 200px;
  margin-left: 20px;

  color: black;
  background-color: lightblue;

  border-radius: 10px;

  cursor: pointer;
}

button:active {
  background-color: blue;
  cursor: grabbing;
}
