body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

h1 {
  text-align: center;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    purple
  );
}

h2 {
  position: relative;
  text-align: center;
  text-decoration: underline;
  margin-top: 450px;
  color: lightsalmon;
}

.peopleParagraphs {
  position: relative;
  color: white;
  margin-left: 500px;
  margin-right: 50px;
  bottom: 350px;
}

#ScientificRevIntroP {
  position: relative;
  top: 10px;
  color: lightgoldenrodyellow;
}

#MonaLisaImg {
  border-radius: 20px;
  padding: 4px;
  background: linear-gradient(45deg, red, orange, yellow, green, blue, purple)
    border-box;
  background-clip: padding-box;

  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50px;
}

#MonaLisaP {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}

#renaissance-h {
  position: relative;
  margin-top: 30px;
  text-align: center;
  color: lightskyblue;
}

#RenaissanceP {
  margin-left: 50px;
  margin-right: 50px;
  color: white;
}

#plague-doctor-img {
  position: relative;
  float: left;
  margin-left: 150px;
  width: 20%;
  height: auto;
}

#plague-doctor-caption {
  position: relative;
  text-align: left;
  top: 400px;
  right: 350px;
  color: salmon;
}

#printing-press-img {
  position: relative;
  float: right;
  margin-right: 200px;
  bottom: 80px;
  width: 30%;
  height: auto;
  border-radius: 10px;
  border-width: 5px;
  border-style: ridge;
  border-color: royalblue;
}

#printing-press-caption {
  position: relative;
  text-align: right;
  left: 320px;
  top: 250px;
  color: yellow;
}

/*---PEOPLE---*/

#isaac-newton-img {
  border-radius: 100px;
  border-style: double;
  border-width: 5px;
  border-color: indigo;
  position: relative;
  margin-top: 70px;
  width: 25%;
  height: 25%;
}

#isaac-newton-caption {
  position: relative;
  right: 500px;
  margin-top: 10px;
  color: rgb(203, 195, 227);
}

#NCopernicusImg {
  border-radius: 20px;
  padding: 5px;
  background: linear-gradient(45deg, lightseagreen, blue) border-box;
  background-clip: padding-box;

  position: relative;
  margin-top: 70px;
  width: 25%;
  height: 25%;
}

#NCopernicusCaption {
  position: relative;
  right: 500px;
  margin-top: 10px;
  color: lightcoral;
}

#GalileoImg {
  border-radius: 150px;
  padding: 5px;
  background: linear-gradient(45deg, red, blue) border-box;
  background-clip: padding-box;
  border: 5px solid transparent;

  position: relative;
  margin-top: 70px;
  width: 25%;
  height: 25%;
}

#GalileoCaption {
  position: relative;
  right: 500px;
  margin-top: 10px;
  color: lightseagreen;
}

#KeplerImg {
  border-radius: 20px;
  padding: 5px;
  background: radial-gradient(green, yellow, blue, purple) border-box;
  background-clip: padding-box;

  position: relative;
  margin-top: 70px;
  width: 25%;
  height: 25%;
}

#KeplerCaption {
  position: relative;
  right: 500px;
  margin-top: 10px;
  color: lightskyblue;
}

/*for Mona Lisa caption*/
figcaption {
  color: lightcoral;
  position: relative;
  text-align: center;
  font-style: italic;
  margin-top: 60px;
}

/*-----BUTTON-----*/
.mainPageButton {
  position: relative;
  left: 100px;
  bottom: 40px;

  border-radius: 10px;

  cursor: pointer;
}

button:active {
  background-color: navy;
  color: white;
  cursor: grabbing;
}
