html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
}

p {
  color: white;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: lightyellow;
}

h3 {
  text-align: center;
  color: lightblue;
}

.AmericanRevolutionButton {
  position: relative;
  top: 100px;
  left: 450px;

  color: white;
  background-color: blue;
  border-color: red;

  font-weight: bold;

  border-radius: 100px;
  padding: 50px 8px;

  cursor: pointer;
}

.AmericanRevolutionButton:active {
  background-color: lightskyblue;
  cursor: grabbing;
}

.ScientificRevolutionButton {
  position: relative;
  margin-left: 700px;
  top: 100px;

  background-color: yellowgreen;

  font-weight: bold;

  border-radius: 100px;
  padding: 50px 8px;

  cursor: pointer;
}

.ScientificRevolutionButton:active {
  background-color: green;
  cursor: grabbing;
}