body {

    background-color: black;

}

p {
    color:white;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: lightyellow;
}

h3 {
    color: lightblue;
}

h4 {
    text-align: center;
    color: lightblue;
}

.AmericanRevolutionButton {
    color:white;
    background-color: blue;
    border-color: red;
}

.FrenchRevolutionButton {
    color:white;
    background-color: red;
    border-color:blue;
    border-width:3px;
    border-radius:5px
}

.ScientificRevolutionButton {
    border-radius: 20px;
    background-color: azure;
}